<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Constructoras SA.</title>
    {% load static %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'constructorasApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'constructorasApp/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'constructorasApp/css/agency.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Constructoras SA.</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portafolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'ingreso' %}">Ingresar</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading text-uppercase">Constructoras</div>
          <div class="intro-lead-in">En este sitio encontrara los proyectos de las constructoras mas importantes.</div>
          
        </div>
      </div>
    </header>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Servicios</h2>
            <h3 class="section-subheading text-muted">El objetivo principal de este sitio web es proporcionar gran cantidad de informacion acerca de los proyectos de las constructoras en Pasto , Podra visualizar por constructora los edificios y sus apartamentos disponibles para la venta, contactar y concretar su vivienda.</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Ventas</h4>
            <p class="text-muted">Facilita el proceso de venta proporcionando la informacion necesaria para conocer el apartamento de forma detallada.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Comodidad</h4>
            <p class="text-muted">No es necesario visitar la constructora para conocer sus proyectos.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Informacion Veridica</h4>
            <p class="text-muted">Este sitio web es informativo , toda la informacion detallada en el portafolio de constructoras es proporcionada por la misma entidad.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Portafolio de Constructoras</h2>
          </div>
        </div>
        
        <div class="row">

            {% for p in constructoras_list.all %}
           
          <div class="col-md-4 col-sm-6 portfolio-item">
              <div class="portfolio-hover">
              </div>
              <img class="img-fluid" src="{% static p.imagen.url %}" style="width:350px;height:350px" alt="">
            </a>

            <div class="portfolio-caption">
              <h4>{{p.nombre}}</h4>
              <p class="text-muted">Telefono: {{p.telefono}}</p>
              <a class="btn btn-success" href="{% url 'edificios-lista' p.pk %}" method="post">Ver edificios</a>
            </div>
        </div>

        {% endfor %}
    </section>
 

<!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; www.ConstructorasSA.com</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'constructorasApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'constructorasApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'constructorasApp/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'constructorasApp/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'constructorasApp/js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'constructorasApp/js/agency.min.js' %}"></script>

  </body>

</html>
